[compiler-info]

# build project with Fortran support
INCLUDE_FORTRAN = True

# specify the compiler: gcc, intel, nvhpc
F90_COMPILER = gcc

# set custom flags, such as architecture optimizations
EXTRA_COMPILE_FLAGS = -O3

# space-separated list of libraries to use, without the leading "-l"
LIBRARIES = mkl_intel_ilp64 mkl_sequential mkl_core

# space-separated list of library directories to use
LIBRARY_DIRS = $(MKLROOT)/lib/intel64

# space-separated list of include directories to use
INCLUDE_DIRS = $(MKLROOT)/include

